psycopg2
playwright
bs4
spacy
tiktoken
flask==3.0.2
python-dotenv==1.0.1
azure-identity==1.15.0
azure-keyvault-secrets==4.7.0
openai==1.12.0
python-dateutil==2.8.2
sqlalchemy==2.0.28
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-limiter==3.5.0
bleach==6.1.0
mistune==3.0.2
gunicorn==21.2.0
python-json-logger==2.0.7
tenacity==8.2.3
Werkzeug==3.0.1
markupsafe==2.1.3
click==8.1.7
itsdangerous==2.1.2
jinja2==3.1.2
psutil==5.9.8
flask-wtf==1.2.1
email-validator==2.0.0.post2
flask-migrate==4.0.7
alembic==1.13.1  # Explicitly add alembic for flask-migrate
